PIO.PowerShell/Connected Services/PIOWebServiceReference/PIO.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIO.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIO.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Planet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planet" nillable="true" type="tns:Planet" />
  <xs:complexType name="ArrayOfPlanet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planet" nillable="true" type="tns:Planet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanet" nillable="true" type="tns:ArrayOfPlanet" />
  <xs:complexType name="Factory">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factory" nillable="true" type="tns:Factory" />
  <xs:complexType name="ArrayOfFactory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factory" nillable="true" type="tns:Factory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactory" nillable="true" type="tns:ArrayOfFactory" />
  <xs:complexType name="Stack">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
      <xs:element minOccurs="0" name="StackID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stack" nillable="true" type="tns:Stack" />
  <xs:complexType name="ArrayOfStack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stack" nillable="true" type="tns:Stack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStack" nillable="true" type="tns:ArrayOfStack" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
</xs:schema>