PIO.PowerShell/Connected Services/PIOWebServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PIOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPIOService_GetPlanet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanet" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanetResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanets" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanetsResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactory" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactories" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStack" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStackResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStacks" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStacksResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResource" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResources" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPIOService">
    <wsdl:operation name="GetPlanet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetPlanet" message="tns:IPIOService_GetPlanet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetPlanetResponse" message="tns:IPIOService_GetPlanet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetPlanets" message="tns:IPIOService_GetPlanets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetPlanetsResponse" message="tns:IPIOService_GetPlanets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactory" message="tns:IPIOService_GetFactory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoryResponse" message="tns:IPIOService_GetFactory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactories" message="tns:IPIOService_GetFactories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoriesResponse" message="tns:IPIOService_GetFactories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStack">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetStack" message="tns:IPIOService_GetStack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetStackResponse" message="tns:IPIOService_GetStack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetStacks" message="tns:IPIOService_GetStacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetStacksResponse" message="tns:IPIOService_GetStacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetResource" message="tns:IPIOService_GetResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetResourceResponse" message="tns:IPIOService_GetResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetResources" message="tns:IPIOService_GetResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetResourcesResponse" message="tns:IPIOService_GetResources_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPIOService" type="tns:IPIOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanet">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetPlanet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetPlanets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactory">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactories">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStack">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetStack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStacks">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetStacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResource">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PIOService">
    <wsdl:port name="BasicHttpBinding_IPIOService" binding="tns:BasicHttpBinding_IPIOService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PIO.WebService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>