PIO.PowerShell/Connected Services/PIOWebServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PIOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPIOService_GetPlanet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanet" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanetResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanets" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetPlanets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanetsResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactory" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactories" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorker" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkers" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStack" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStackResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStacks" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetStacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStacksResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResourceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceType" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResourceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResourceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceTypes" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetResourceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactoryType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryType" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactoryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactoryTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryTypes" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetFactoryTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFactoryTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTaskType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskType" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTaskType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTaskTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTypes" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTaskTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterial" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterials" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredient" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetLastTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTask" />
  </wsdl:message>
  <wsdl:message name="IPIOService_GetLastTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_HasEnoughResourcesToProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:HasEnoughResourcesToProduce" />
  </wsdl:message>
  <wsdl:message name="IPIOService_HasEnoughResourcesToProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasEnoughResourcesToProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_Produce_InputMessage">
    <wsdl:part name="parameters" element="tns:Produce" />
  </wsdl:message>
  <wsdl:message name="IPIOService_Produce_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IPIOService_MoveTo_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveTo" />
  </wsdl:message>
  <wsdl:message name="IPIOService_MoveTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveToResponse" />
  </wsdl:message>
  <wsdl:portType name="IPIOService">
    <wsdl:operation name="GetPlanet">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetPlanet" message="tns:IPIOService_GetPlanet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetPlanetResponse" message="tns:IPIOService_GetPlanet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetPlanets" message="tns:IPIOService_GetPlanets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetPlanetsResponse" message="tns:IPIOService_GetPlanets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactory" message="tns:IPIOService_GetFactory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoryResponse" message="tns:IPIOService_GetFactory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactories">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactories" message="tns:IPIOService_GetFactories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoriesResponse" message="tns:IPIOService_GetFactories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetWorker" message="tns:IPIOService_GetWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetWorkerResponse" message="tns:IPIOService_GetWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetWorkers" message="tns:IPIOService_GetWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetWorkersResponse" message="tns:IPIOService_GetWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStack">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetStack" message="tns:IPIOService_GetStack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetStackResponse" message="tns:IPIOService_GetStack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetStacks" message="tns:IPIOService_GetStacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetStacksResponse" message="tns:IPIOService_GetStacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetResourceType" message="tns:IPIOService_GetResourceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetResourceTypeResponse" message="tns:IPIOService_GetResourceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetResourceTypes" message="tns:IPIOService_GetResourceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetResourceTypesResponse" message="tns:IPIOService_GetResourceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactoryType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactoryType" message="tns:IPIOService_GetFactoryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoryTypeResponse" message="tns:IPIOService_GetFactoryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFactoryTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetFactoryTypes" message="tns:IPIOService_GetFactoryTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetFactoryTypesResponse" message="tns:IPIOService_GetFactoryTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetTaskType" message="tns:IPIOService_GetTaskType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetTaskTypeResponse" message="tns:IPIOService_GetTaskType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetTaskTypes" message="tns:IPIOService_GetTaskTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetTaskTypesResponse" message="tns:IPIOService_GetTaskTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetMaterial" message="tns:IPIOService_GetMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetMaterialResponse" message="tns:IPIOService_GetMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetMaterials" message="tns:IPIOService_GetMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetMaterialsResponse" message="tns:IPIOService_GetMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetIngredient" message="tns:IPIOService_GetIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetIngredientResponse" message="tns:IPIOService_GetIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetIngredients" message="tns:IPIOService_GetIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetIngredientsResponse" message="tns:IPIOService_GetIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetProduct" message="tns:IPIOService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetProductResponse" message="tns:IPIOService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetProducts" message="tns:IPIOService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetProductsResponse" message="tns:IPIOService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetTask" message="tns:IPIOService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetTaskResponse" message="tns:IPIOService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetTasks" message="tns:IPIOService_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetTasksResponse" message="tns:IPIOService_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/GetLastTask" message="tns:IPIOService_GetLastTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/GetLastTaskResponse" message="tns:IPIOService_GetLastTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasEnoughResourcesToProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/HasEnoughResourcesToProduce" message="tns:IPIOService_HasEnoughResourcesToProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/HasEnoughResourcesToProduceResponse" message="tns:IPIOService_HasEnoughResourcesToProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Produce">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/Produce" message="tns:IPIOService_Produce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/ProduceResponse" message="tns:IPIOService_Produce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveTo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPIOService/MoveTo" message="tns:IPIOService_MoveTo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPIOService/MoveToResponse" message="tns:IPIOService_MoveTo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPIOService" type="tns:IPIOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlanet">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetPlanet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetPlanets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactory">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactories">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorker">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStack">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetStack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStacks">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetStacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceType">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetResourceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceTypes">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetResourceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryType">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactoryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactoryTypes">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetFactoryTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskType">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetTaskType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskTypes">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetTaskTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterial">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterials">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTask">
      <soap:operation soapAction="http://tempuri.org/IPIOService/GetLastTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasEnoughResourcesToProduce">
      <soap:operation soapAction="http://tempuri.org/IPIOService/HasEnoughResourcesToProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Produce">
      <soap:operation soapAction="http://tempuri.org/IPIOService/Produce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveTo">
      <soap:operation soapAction="http://tempuri.org/IPIOService/MoveTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PIOService">
    <wsdl:port name="BasicHttpBinding_IPIOService" binding="tns:BasicHttpBinding_IPIOService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PIO.WebService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>