PIO.PowerShell/Connected Services/PIOWebServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
  <xs:element name="GetPlanet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetPlanetResult" nillable="true" type="q1:Planet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetPlanetsResult" nillable="true" type="q2:ArrayOfPlanet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetFactoryResult" nillable="true" type="q3:Factory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetFactoriesResult" nillable="true" type="q4:ArrayOfFactory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StackID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetStackResult" nillable="true" type="q5:Stack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetStacksResult" nillable="true" type="q6:ArrayOfStack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>