PIO.ClientLib/Connected Services/TaskCallbackServiceReference/PIO.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIO.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIO.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ETA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FactoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FactoryTypeID" nillable="true" type="tns:FactoryTypeIDs" />
      <xs:element minOccurs="0" name="ResourceTypeID" nillable="true" type="tns:ResourceTypeIDs" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTypeID" type="tns:TaskTypeIDs" />
      <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Y" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:simpleType name="FactoryTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forest" />
      <xs:enumeration value="Stockpile" />
      <xs:enumeration value="Sawmill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FactoryTypeIDs" nillable="true" type="tns:FactoryTypeIDs" />
  <xs:simpleType name="ResourceTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tree" />
      <xs:enumeration value="Wood" />
      <xs:enumeration value="Stone" />
      <xs:enumeration value="Coal" />
      <xs:enumeration value="Plank" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResourceTypeIDs" nillable="true" type="tns:ResourceTypeIDs" />
  <xs:simpleType name="TaskTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Produce" />
      <xs:enumeration value="MoveTo" />
      <xs:enumeration value="CarryTo" />
      <xs:enumeration value="CreateBuilding" />
      <xs:enumeration value="Build" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskTypeIDs" nillable="true" type="tns:TaskTypeIDs" />
</xs:schema>