PIO.Bots.ClientLib/Connected Services/BotsServiceReference/PIO.Bots.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ProduceOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProduceOrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProduceOrder" nillable="true" type="tns:ProduceOrder" />
  <xs:complexType name="ArrayOfProduceOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProduceOrder" nillable="true" type="tns:ProduceOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduceOrder" nillable="true" type="tns:ArrayOfProduceOrder" />
</xs:schema>