PIO.Bots.ClientLib/Connected Services/BotsServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
  <xs:element name="GetBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BotID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBotResult" nillable="true" type="q1:Bot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBotForWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBotForWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBotForWorkerResult" nillable="true" type="q2:Bot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBotsResult" nillable="true" type="q3:ArrayOfBot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetOrderResult" nillable="true" type="q4:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetOrdersResult" nillable="true" type="q5:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProduceOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetProduceOrderResult" nillable="true" type="q6:ProduceOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetProduceOrdersResult" nillable="true" type="q7:ArrayOfProduceOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrdersForFactory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceOrdersForFactoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetProduceOrdersForFactoryResult" nillable="true" type="q8:ArrayOfProduceOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildFactoryOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFactoryOrderResult" nillable="true" type="q9:BuildFactoryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFactoryOrdersResult" nillable="true" type="q10:ArrayOfBuildFactoryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrdersAtPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetId" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFactoryOrdersAtPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFactoryOrdersAtPositionResult" nillable="true" type="q11:ArrayOfBuildFactoryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildFarmOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFarmOrderResult" nillable="true" type="q12:BuildFarmOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFarmOrdersResult" nillable="true" type="q13:ArrayOfBuildFarmOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrdersAtPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetId" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildFarmOrdersAtPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="GetBuildFarmOrdersAtPositionResult" nillable="true" type="q14:ArrayOfBuildFarmOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="CreateProduceOrderResult" nillable="true" type="q15:ProduceOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildFactoryOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q16:BuildingTypeIDs" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildFactoryOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="CreateBuildFactoryOrderResult" nillable="true" type="q17:BuildFactoryOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildFarmOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q18:BuildingTypeIDs" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildFarmOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="CreateBuildFarmOrderResult" nillable="true" type="q19:BuildFarmOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" minOccurs="0" name="CreateBotResult" nillable="true" type="q20:Bot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BotID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>