PIO.Bots.ClientLib/Connected Services/BotsServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotsService_GetBot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBot" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBotForWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBotForWorker" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBotForWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotForWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBots" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotsResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrdersForBuilding_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersForBuilding" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrdersForBuilding_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersForBuildingResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrdersAtPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrdersAtPosition" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildOrdersAtPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildOrdersAtPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateProduceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduceOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateProduceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBuildOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuildOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBuildOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBuildOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBot_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBot" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_DeleteBot_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBot" />
  </wsdl:message>
  <wsdl:message name="IBotsService_DeleteBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBotResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotsService">
    <wsdl:operation name="GetBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBot" message="tns:IBotsService_GetBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotResponse" message="tns:IBotsService_GetBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBotForWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBotForWorker" message="tns:IBotsService_GetBotForWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotForWorkerResponse" message="tns:IBotsService_GetBotForWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBots">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBots" message="tns:IBotsService_GetBots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotsResponse" message="tns:IBotsService_GetBots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetOrder" message="tns:IBotsService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetOrderResponse" message="tns:IBotsService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetOrders" message="tns:IBotsService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetOrdersResponse" message="tns:IBotsService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrder" message="tns:IBotsService_GetProduceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrderResponse" message="tns:IBotsService_GetProduceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrders" message="tns:IBotsService_GetProduceOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersResponse" message="tns:IBotsService_GetProduceOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrdersForBuilding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersForBuilding" message="tns:IBotsService_GetProduceOrdersForBuilding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersForBuildingResponse" message="tns:IBotsService_GetProduceOrdersForBuilding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrder" message="tns:IBotsService_GetBuildOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrderResponse" message="tns:IBotsService_GetBuildOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrders" message="tns:IBotsService_GetBuildOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrdersResponse" message="tns:IBotsService_GetBuildOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrdersAtPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrdersAtPosition" message="tns:IBotsService_GetBuildOrdersAtPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBuildOrdersAtPositionResponse" message="tns:IBotsService_GetBuildOrdersAtPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/CreateProduceOrder" message="tns:IBotsService_CreateProduceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/CreateProduceOrderResponse" message="tns:IBotsService_CreateProduceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBuildOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/CreateBuildOrder" message="tns:IBotsService_CreateBuildOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/CreateBuildOrderResponse" message="tns:IBotsService_CreateBuildOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/CreateBot" message="tns:IBotsService_CreateBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/CreateBotResponse" message="tns:IBotsService_CreateBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/DeleteBot" message="tns:IBotsService_DeleteBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/DeleteBotResponse" message="tns:IBotsService_DeleteBot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBotsService" type="tns:IBotsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBot">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBotForWorker">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBotForWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBots">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrdersForBuilding">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrdersForBuilding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBuildOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBuildOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildOrdersAtPosition">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBuildOrdersAtPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduceOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/CreateProduceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBuildOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/CreateBuildOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBot">
      <soap:operation soapAction="http://tempuri.org/IBotsService/CreateBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBot">
      <soap:operation soapAction="http://tempuri.org/IBotsService/DeleteBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotsService">
    <wsdl:port name="BasicHttpBinding_IBotsService" binding="tns:BasicHttpBinding_IBotsService">
      <soap:address location="http://localhost:8734/PIO/Bots/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>