PIO.Bots.ClientLib/Connected Services/BotsServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Bots.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotsService_GetBot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBot" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBotForWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBotForWorker" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBotForWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotForWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBots" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotsResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrdersForFactory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersForFactory" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetProduceOrdersForFactory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceOrdersForFactoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildFactoryOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFactoryOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildFactoryOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFactoryOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildFactoryOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFactoryOrders" />
  </wsdl:message>
  <wsdl:message name="IBotsService_GetBuildFactoryOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuildFactoryOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateProduceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduceOrder" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateProduceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBot_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBot" />
  </wsdl:message>
  <wsdl:message name="IBotsService_CreateBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBotResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotsService">
    <wsdl:operation name="GetBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBot" message="tns:IBotsService_GetBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotResponse" message="tns:IBotsService_GetBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBotForWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBotForWorker" message="tns:IBotsService_GetBotForWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotForWorkerResponse" message="tns:IBotsService_GetBotForWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBots">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBots" message="tns:IBotsService_GetBots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBotsResponse" message="tns:IBotsService_GetBots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetOrder" message="tns:IBotsService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetOrderResponse" message="tns:IBotsService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetOrders" message="tns:IBotsService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetOrdersResponse" message="tns:IBotsService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrder" message="tns:IBotsService_GetProduceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrderResponse" message="tns:IBotsService_GetProduceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrders" message="tns:IBotsService_GetProduceOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersResponse" message="tns:IBotsService_GetProduceOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrdersForFactory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersForFactory" message="tns:IBotsService_GetProduceOrdersForFactory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetProduceOrdersForFactoryResponse" message="tns:IBotsService_GetProduceOrdersForFactory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildFactoryOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBuildFactoryOrder" message="tns:IBotsService_GetBuildFactoryOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBuildFactoryOrderResponse" message="tns:IBotsService_GetBuildFactoryOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuildFactoryOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/GetBuildFactoryOrders" message="tns:IBotsService_GetBuildFactoryOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/GetBuildFactoryOrdersResponse" message="tns:IBotsService_GetBuildFactoryOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/CreateProduceOrder" message="tns:IBotsService_CreateProduceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/CreateProduceOrderResponse" message="tns:IBotsService_CreateProduceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotsService/CreateBot" message="tns:IBotsService_CreateBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotsService/CreateBotResponse" message="tns:IBotsService_CreateBot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBotsService" type="tns:IBotsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBot">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBotForWorker">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBotForWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBots">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceOrdersForFactory">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetProduceOrdersForFactory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildFactoryOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBuildFactoryOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuildFactoryOrders">
      <soap:operation soapAction="http://tempuri.org/IBotsService/GetBuildFactoryOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduceOrder">
      <soap:operation soapAction="http://tempuri.org/IBotsService/CreateProduceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBot">
      <soap:operation soapAction="http://tempuri.org/IBotsService/CreateBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotsService">
    <wsdl:port name="BasicHttpBinding_IBotsService" binding="tns:BasicHttpBinding_IBotsService">
      <soap:address location="http://localhost:8734/PIO/Bots/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>