PIO.ClientLib/Connected Services/PIOServiceReference/PIO.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIO.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIO.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Planet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planet" nillable="true" type="tns:Planet" />
  <xs:complexType name="ArrayOfPlanet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planet" nillable="true" type="tns:Planet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanet" nillable="true" type="tns:ArrayOfPlanet" />
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellID" type="xs:int" />
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Factory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Building">
        <xs:sequence>
          <xs:element minOccurs="0" name="FactoryID" type="xs:int" />
          <xs:element minOccurs="0" name="FactoryTypeID" type="tns:FactoryTypeIDs" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Factory" nillable="true" type="tns:Factory" />
  <xs:complexType name="Building">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingTypeID" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="HealthPoints" type="xs:int" />
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      <xs:element minOccurs="0" name="RemainingBuildSteps" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
  <xs:simpleType name="BuildingTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forest" />
      <xs:enumeration value="Stockpile" />
      <xs:enumeration value="Sawmill" />
      <xs:enumeration value="Stone" />
      <xs:enumeration value="Water" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuildingTypeIDs" nillable="true" type="tns:BuildingTypeIDs" />
  <xs:simpleType name="FactoryTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forest" />
      <xs:enumeration value="Stockpile" />
      <xs:enumeration value="Sawmill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FactoryTypeIDs" nillable="true" type="tns:FactoryTypeIDs" />
  <xs:complexType name="ArrayOfFactory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Factory" nillable="true" type="tns:Factory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactory" nillable="true" type="tns:ArrayOfFactory" />
  <xs:complexType name="Farm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Building">
        <xs:sequence>
          <xs:element minOccurs="0" name="FarmID" type="xs:int" />
          <xs:element minOccurs="0" name="FarmTypeID" type="tns:FarmTypeIDs" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Farm" nillable="true" type="tns:Farm" />
  <xs:simpleType name="FarmTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forest" />
      <xs:enumeration value="Stone" />
      <xs:enumeration value="Water" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FarmTypeIDs" nillable="true" type="tns:FarmTypeIDs" />
  <xs:complexType name="ArrayOfFarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Farm" nillable="true" type="tns:Farm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarm" nillable="true" type="tns:ArrayOfFarm" />
  <xs:complexType name="ArrayOfBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilding" nillable="true" type="tns:ArrayOfBuilding" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceTypeID" nillable="true" type="tns:ResourceTypeIDs" />
      <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:simpleType name="ResourceTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tree" />
      <xs:enumeration value="Wood" />
      <xs:enumeration value="Stone" />
      <xs:enumeration value="Coal" />
      <xs:enumeration value="Plank" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResourceTypeIDs" nillable="true" type="tns:ResourceTypeIDs" />
  <xs:complexType name="ArrayOfWorker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Worker" nillable="true" type="tns:Worker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorker" nillable="true" type="tns:ArrayOfWorker" />
  <xs:complexType name="Stack">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceTypeID" type="tns:ResourceTypeIDs" />
      <xs:element minOccurs="0" name="StackID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stack" nillable="true" type="tns:Stack" />
  <xs:complexType name="ArrayOfStack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stack" nillable="true" type="tns:Stack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStack" nillable="true" type="tns:ArrayOfStack" />
  <xs:complexType name="ResourceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceTypeID" type="tns:ResourceTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceType" nillable="true" type="tns:ResourceType" />
  <xs:complexType name="ArrayOfResourceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceType" nillable="true" type="tns:ResourceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceType" nillable="true" type="tns:ArrayOfResourceType" />
  <xs:complexType name="FactoryType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildSteps" type="xs:int" />
      <xs:element minOccurs="0" name="FactoryTypeID" type="tns:FactoryTypeIDs" />
      <xs:element minOccurs="0" name="HealthPoints" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialSetID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FactoryType" nillable="true" type="tns:FactoryType" />
  <xs:complexType name="ArrayOfFactoryType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FactoryType" nillable="true" type="tns:FactoryType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactoryType" nillable="true" type="tns:ArrayOfFactoryType" />
  <xs:complexType name="FarmType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildSteps" type="xs:int" />
      <xs:element minOccurs="0" name="FarmTypeID" type="tns:FarmTypeIDs" />
      <xs:element minOccurs="0" name="HealthPoints" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialSetID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarmType" nillable="true" type="tns:FarmType" />
  <xs:complexType name="ArrayOfFarmType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarmType" nillable="true" type="tns:FarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarmType" nillable="true" type="tns:ArrayOfFarmType" />
  <xs:complexType name="BuildingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildSteps" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingTypeID" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="HealthPoints" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialSetID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingType" nillable="true" type="tns:BuildingType" />
  <xs:complexType name="ArrayOfBuildingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingType" nillable="true" type="tns:BuildingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingType" nillable="true" type="tns:ArrayOfBuildingType" />
  <xs:simpleType name="TaskTypeIDs">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Produce" />
      <xs:enumeration value="MoveTo" />
      <xs:enumeration value="CreateBuilding" />
      <xs:enumeration value="Build" />
      <xs:enumeration value="Take" />
      <xs:enumeration value="Store" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskTypeIDs" nillable="true" type="tns:TaskTypeIDs" />
  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskTypeID" type="tns:TaskTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskType" nillable="true" type="tns:TaskType" />
  <xs:complexType name="ArrayOfTaskType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskType" nillable="true" type="tns:TaskType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskType" nillable="true" type="tns:ArrayOfTaskType" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingTypeID" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="MaterialID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceTypeID" type="tns:ResourceTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingTypeID" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="IngredientID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceTypeID" type="tns:ResourceTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingTypeID" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceTypeID" type="tns:ResourceTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildingID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingTypeID" nillable="true" type="tns:BuildingTypeIDs" />
      <xs:element minOccurs="0" name="ETA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceTypeID" nillable="true" type="tns:ResourceTypeIDs" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTypeID" type="tns:TaskTypeIDs" />
      <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="ArrayOfResourceTypeIDs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceTypeIDs" type="tns:ResourceTypeIDs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceTypeIDs" nillable="true" type="tns:ArrayOfResourceTypeIDs" />
</xs:schema>