PIO.ClientLib/Connected Services/PIOServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PIO.Models" />
  <xs:element name="GetPlanet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetPlanetResult" nillable="true" type="q1:Planet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetPlanetsResult" nillable="true" type="q2:ArrayOfPlanet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CellID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetCellResult" nillable="true" type="q3:Cell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellAtPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellAtPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetCellAtPosResult" nillable="true" type="q4:Cell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCells">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Height" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCellsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetCellsResult" nillable="true" type="q5:ArrayOfCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetBuildingResult" nillable="true" type="q6:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingAtPos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingAtPosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetBuildingAtPosResult" nillable="true" type="q7:Building" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetBuildingsResult" nillable="true" type="q8:ArrayOfBuilding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetWorkerResult" nillable="true" type="q9:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetWorkersResult" nillable="true" type="q10:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetAllWorkersResult" nillable="true" type="q11:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StackID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetStackResult" nillable="true" type="q12:Stack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanetID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="ResourceTypeID" type="q13:ResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="FindStackResult" nillable="true" type="q14:Stack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetStacksResult" nillable="true" type="q15:ArrayOfStack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="ResourceTypeID" type="q16:ResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStackQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStackQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="ResourceTypeID" type="q17:ResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetResourceTypeResult" nillable="true" type="q18:ResourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetResourceTypesResult" nillable="true" type="q19:ArrayOfResourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q20:BuildingTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetBuildingTypeResult" nillable="true" type="q21:BuildingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetBuildingTypesResult" nillable="true" type="q22:ArrayOfBuildingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="TaskTypeID" type="q23:TaskTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetTaskTypeResult" nillable="true" type="q24:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetTaskTypesResult" nillable="true" type="q25:ArrayOfTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetMaterialResult" nillable="true" type="q26:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q27:BuildingTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetMaterialsResult" nillable="true" type="q28:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngredientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetIngredientResult" nillable="true" type="q29:Ingredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q30:BuildingTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetIngredientsResult" nillable="true" type="q31:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetProductResult" nillable="true" type="q32:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q33:BuildingTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetProductsResult" nillable="true" type="q34:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetTaskResult" nillable="true" type="q35:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetTasksResult" nillable="true" type="q36:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetLastTaskResult" nillable="true" type="q37:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnoughResourcesToProduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnoughResourcesToProduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasEnoughResourcesToProduceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingResourcesToProduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingResourcesToProduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetMissingResourcesToProduceResult" nillable="true" type="q38:ArrayOfResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnoughResourcesToBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasEnoughResourcesToBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasEnoughResourcesToBuildResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingResourcesToBuild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissingResourcesToBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="GetMissingResourcesToBuildResult" nillable="true" type="q39:ArrayOfResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkerIsInBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkerIsInBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerIsInBuildingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Idle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element minOccurs="0" name="Duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="IdleResult" nillable="true" type="q40:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Produce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="ProduceResult" nillable="true" type="q41:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Harvest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HarvestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="HarvestResult" nillable="true" type="q42:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="MoveToResult" nillable="true" type="q43:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element minOccurs="0" name="BuildingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="MoveToBuildingResult" nillable="true" type="q44:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Take">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="ResourceTypeID" type="q45:ResourceTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="TakeResult" nillable="true" type="q46:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Store">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="StoreResult" nillable="true" type="q47:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuilding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildingTypeID" type="q48:BuildingTypeIDs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBuildingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="CreateBuildingResult" nillable="true" type="q49:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Build">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PIO.Models" minOccurs="0" name="BuildResult" nillable="true" type="q50:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>